re
json
requests
matplotlib
numpy
pandas
seaborn
mysql
matplotlib
datetime
pymongo
warnings
termcolor
nltk
tweepy
textblob
tweepy
sklearn
wordcloud
folium
sqlite3
mysql-connector-python
pymysql
mysqlclient